<div class="text-center bg-nav my-3 text-white rounded p-1">
  <h1 class="border-bottom border-3">Over ons</h1>
  <p class="mx-3">‘Met Liefde Gedragen’ is een informatieve website over alles wat met vroedkunde te maken heeft. Alles?
    Ja,
    echt alles! Van babybadjes tot het plaatsen van een nasogastrische sonde bij een prematuur geboren baby en
    nog veel meer.</p>
  <p class="mx-3">De website heeft twee onderdelen, een onderdeel dat gericht is aan andere vroedkundestudenten en een
    onderdeel dat interessanter is voor toekomstige of kersverse ouders.</p>
  <p class="mx-3">Alle bijdrages aan deze website worden geleverd door studenten van Hogeschool PXL. De artikels worden
    geschreven door vroedvrouwen in spé en de website werd in het leven geroepen door een studente toegepaste
    informatica. Lees hieronder meer over ons team!</p>
</div>
<div class="row g-3">
  <div class="col">
    <div class="card">
      <img src="assets/fotoLore.jpg" class="img-fluid w-50 align-self-center rounded-circle p-1" alt="profielfoto">
      <div class="card-body">
        <h5 class="card-title">Lore</h5>
        <p class="card-text">Ik ben Lore, tweedejaarsstudente vroedkunde. Ik ben geïnteresseerd in gynaecologie en
          prenatale raadpleging. Ik vind het fijn om een diverse jobomschrijving te hebben en daarom heb ik ook voor
          deze studierichting gekozen.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/logoPXL.png" class="img-fluid w-50 align-self-center rounded-circle p-1" alt="profielfoto">
      <div class="card-body">
        <h5 class="card-title">Femke</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
          additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/fotoIne.jpg" class="img-fluid w-50 align-self-center rounded-circle p-1" alt="profielfoto">
      <div class="card-body">
        <h5 class="card-title">Ine</h5>
        <p class="card-text">Ik ben Ine, de informaticastudente die de website gemaakt heeft. Ik werk graag in de
          frontend,
          maar de backend schrikt me niet af. Ik programmeer graag en heb daarom ook de afstudeerrichting
          Applicatieontwikkeling
          Fullstack Development gekozen.</p>
      </div>
    </div>
  </div>
</div>
