<div class="row g-3 my-3">
  <div class="col">
    <div class="card h-auto">
      <img src="assets/ctg.png" class="img-fluid p-1" alt="CTG classification">
      <div class="card-body">
        <h5 class="card-title">CTG</h5>
        <p class="card-text">Dit is een artikel over het interpreteren van een CTG van een à terme eenling.</p>
        <a href="how-to-midwife/ctg" class="btn stretched-link bg-nav">Lees meer</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-auto">
      <img src="assets/epidurale.jpg" class="img-fluid p-1" alt="Epidurale verdoving">
      <div class="card-body">
        <h5 class="card-title">Anesthesie en analgesie</h5>
        <p class="card-text">Hier kan je meer lezen over het verschil tussen anesthesie en analgesie binnen het werkveld
          van de vroedvrouw.</p>
        <a href="how-to-midwife/anesthesie-en-analgesie" class="btn stretched-link bg-nav">Lees meer</a>
      </div>
    </div>
  </div>
</div>
