<div class="bg-nav my-3 text-white rounded p-1">
  <h1 class="border-bottom text-center border-3">CTG</h1>
  <p class="mx-3">Het leren aflezen en interpreteren van een CTG-tracé is een hobbelige weg voor veel studenten. In dit
    artikel wordt daarom uitgelegd hoe je efficiënt een CTG kan aflezen aan de hand van het ezelsbruggetje ‘Dr.
    CMQBraVADOC’. Iedere letter staat voor onderdeel van het tracé. De eindclassificatie gebeurt op basis van de
    FIGO-richtlijn, waarbij ieder CTG wordt ingedeeld als ‘normal’, ‘suspicious’ of ‘pathological’. Belangrijk is dat je
    bij ieder onderdeel genoeg uitleg geeft, dan begrijpt de docent je gedachtegang en kan je voor jezelf zien of je
    bevindingen logisch klinken.</p>
  <div class="text-center">
    <img src="assets/ctg.png" class="img-fluid w-50" alt="CTG classifcation">
  </div>
  <h5 class="mx-3">Dr = determine risk</h5>
  <p class="mx-3">Bij dit onderdeel wordt op basis van de anamnese bepaald of de parturiënte een laag, medium of hoog
    risico heeft op
    complicaties tijdens arbeid en bevalling. De makkelijkste manier om te bepalen of iemand tot de low risk populatie
    behoort is: ‘Mag deze mama thuis bevallen?’. Als het antwoord ja is, ben je zeker dat het om een laag risico
    bevalling gaat. Als het antwoord nee is, moet je nog beslissen of het hier om een medium of een hoog risico
    bevalling gaat.</p>
  <p class="mx-3">Medium risico wordt meestal toegekend aan parturiënten waar sprake is van een risico voor enkel de
    moeder of enkel
    de baby. Deze bevallingen gaan in het ziekenhuis door, maar de kans op complicaties is kleiner dan bij hoog
    risico.</p>
  <p class="mx-3">Van een hoog risico bevalling wordt gesproken als er voor zowel mama als baby een vergrote kans is op
    perinatale
    complicaties.</p>
  <h5 class="mx-3">C = contractions</h5>
  <p class="mx-3">Het onderste deel van het CTG stellen de contracties voor. Hierbij wordt gekeken naar duur,
    frequentie, intensiteit
    en regelmaat. De frequentie wordt vaak uitgedrukt per 10 minuten.</p>
  <h5 class="mx-3">M = movements, meconium en mother</h5>
  <p class="mx-3">Movements wijst op kindsbewegingen, hier bespreek je of de vrouw haar kindje goed voelt.</p>
  <p class="mx-3">Meconium wijst op het aspect van het vruchtwater. Hier schrijf je of de vliezen staand of gebroken
    zijn. Indien ze
    gebroken zijn, schrijf je of er sprake is van helder of meconiaal vruchtwater.</p>
  <p class="mx-3">Mother wijst op relevante observaties bij de moeder. Voorbeelden hiervan zijn GPA, zwangerschapsduur,
    risicofactoren,…</p>
  <h5 class="mx-3">Q = quality</h5>
  <p class="mx-3">Bij quality bespreek je de kwaliteit van het tracé. Kijk of er veel onderbrekingen zijn bij de foetale
    harttonen of
    de contracties. Bij de contracties kijk je best ook of deze geijkt zijn en of de band niet te strak is aangespannen,
    dit kan je zien doordat je tracé afgeplat is aan de bovenkant. Het is makkelijk als je de foetale harttonen en de
    contracties afzonderlijk bespreekt.</p>
  <h5 class="mx-3">Bra = baseline</h5>
  <p class="mx-3">Baseline staat voor de basishartfrequentie van de foetus. Deze moet tussen de 110bpm en 160bpm
    zijn.</p>
  <p class="mx-3">Een basislijn onder 110bpm wordt bradycardie genoemd. Bradycardie wordt meestal, maar niet altijd,
    veroorzaakt door
    onvoldoende placentaire doorbloeding of compressie van de navelstreng. Bradycardie kan ook worden geassocieerd met
    congenitale structurele afwijkingen bij de foetus of systeemziekten bij de moeder, maar dit is minder voor de hand
    liggend. Een basislijn van minder dan 100bpm wordt automatisch geclassificeerd als pathological.</p>
  <p class="mx-3">Een basislijn boven 160bpm is een tachycardie. Tachycardie wordt veroorzaakt door maternale
    temperatuurstijging,
    langdurige foetale bewegingen of stressrespons van de foetus. Ook aangeboren foetale ritmestoornissen, ontregelde
    maternale hyperthyreoïdie of medicatiegebruik bij de moeder zijn oorzaken, maar komen minder voor.</p>
  <h5 class="mx-3">V = variabiliteit</h5>
  <p class="mx-3">Variabiliteit is de variatie van het hartritme over de basislijn gedurende 1 minuut. Dit wordt bepaald
    buiten een
    acceleratie en deceleratie en tussen de contracties. Normaal ligt de variabiliteit tussen 5bpm en 25bpm.</p>
  <p class="mx-3">Een variabiliteit van minder dan 5bpm gedurende meer dan 50 minuten of meer dan 25bpm gedurende meer
    dan 30 minuten
    (Saltatoir patroon) is altijd pathological. Ook het Sinusoïdaal patroon gedurende minstens 20 minuten is
    pathological.</p>
  <h5 class="mx-3">A = acceleraties</h5>
  <p class="mx-3">Een acceleratie is een verhoging van de hartslag met minstens 15bpm gedurende minstens 15 seconden. De
    significantie van acceleraties tijdens arbeid en bevalling is nog niet duidelijk, maar kan dienen als aanvullende
    parameter voor het foetale welzijn.</p>
  <h5 class="mx-3">D = deceleraties</h5>
  <p class="mx-3">Een deceleratie is een verlaging van de hartslag met minstens 15bpm gedurende minstens 15 seconden.
    Deceleraties
    zijn een goede manier om foetale nood in te schatten. Deceleraties worden opgedeeld volgens vorm.</p>
  <p class="mx-3">De eerste vorm zijn de uniforme deceleraties. Deze deceleraties hebben een U-vorm en lijken, als je
    het CTG
    omdraait, op contracties. Een vroegtijdige uniforme deceleratie wordt geclassificeerd als normal, hierbij valt het
    diepste punt van de deceleratie samen met het hoogtepunt van de wee. Een laattijdige uniforme deceleratie wordt
    geclassificeerd als pathological wanneer ze herhaald zijn voor meer dan 30 minuten, of wanneer ze herhaald zijn voor
    meer dan 20 minuten samen met een verminderde variabiliteit. Hierbij valt het diepste punt van de deceleratie na de
    top van de wee.</p>
  <p class="mx-3">De tweede vorm zijn de variabele deceleraties. Deze deceleraties hebben een V-vorm en hebben vaak een
    snel slagenverlies. Enkelvoudige deceleraties worden geclassificeerd als normal en herhaalde als suspicious.
    Verlengde deceleraties zijn deceleraties van meer dan 3 minuten en minder dan 5 minuten en ook deze worden
    geclassificeerd als pathological wanneer ze herhaald zijn voor meer dan 30 minuten, of wanneer ze herhaald zijn voor
    meer dan 20 minuten samen met een verminderde variabiliteit. De langdurige deceleraties zijn deceleraties van meer
    dan 5 minuten en zijn altijd pathological.</p>
  <h5 class="mx-3">O = overall</h5>
  <p class="mx-3">Bij dit onderdeel zeg je of het CTG geruststellend is of niet en waarom. Je bespreekt of je het CTG
    verder zou
    laten opstaan of dat je het mag afnemen.</p>
  <h5 class="mx-3">C = classificatie</h5>
  <p class="mx-3">Hierbij classificeer je het CTG op basis van de FIGO-richtlijn. Ieder onderdeel ga je na en je kijkt
    of er pathologische kenmerken zijn. Aan iedere indeling is een klinisch management gekoppeld. Het is handig om dit
    kaartje uitgeprint in je zak te hebben tijdens stages.</p>
</div>
<div class="bg-nav my-3 text-white rounded p-1">
  <h1 class="border-bottom text-center border-3">Literatuurlijst</h1>
  <ul class="mx-3">
    <li>Devlieger, R., Jacquemyn, Y., Laubach M. & Roelens, K. (2015). <span
      class="fst-italic">Handboek verloskunde</span>. Leuven: Acco.
    </li>
    <li>Hogeschool PXL. (z.d.). CTG volgens de FIGO richtlijnen van 2015 [Powerpoint]. Geraadpleegd via
      <span class="text-break">https://blackboard.pxl.be/bbcswebdav/pid-463785-dt-content-rid-3042219_1/xid-3042219_1</span>
    </li>
    <li>Jacquemyn, Y. (2017). <span class="fst-italic">Procedureboek Verloskunde</span>. Leuven: Acco.</li>
    <li>Jacquemyn, Yves, Richter, J., Roelens, K., Laubach, M., & Gyselaers, W. (2018). <span class="fst-italic">
      Interactief basisboek cardiotocografie: principes en praktijk</span>. Leuven/Den Haag: Acco.
    </li>
  </ul>
</div>
